<div class="row justify-content-center">
  <div class="dose-form col-lg-6 text-center">
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :image_url %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
